body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  margin-top: 30px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1{
  color: grey;
}

.row{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.btn{
  background: lightblue;
  color: blue;
  border: 1px solid black;
  /* box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  width: 150px;
  min-height: 40px;
  margin-right: 20px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 1em;
}

.btn:hover{
  background: blue;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.respuesta{
  width: 600px;
  min-height: 40px;
  border: 1px solid black;

  justify-content: center;
  align-items: center;
}

table{
  width: 350px;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

#boton4{
margin: 20px;
}
